body {
background-color: #d8feff;
Font-Family: 'Unica One', Cursive;
Font-Size: 52px;
Font-Family: 'Crimson Text', Serif;
Font-Size: 19px;
}

#indexLinks :hover {
    color: #ff10af;
    box-shadow: 0 0 5px #ff10af;
    
}

.toast {
    background-color: ivory;
}