body {
  background-color: #d8feff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 19px;
}

.fas {
  color: #a64ac9;
  height: 20px;
  width: 20px;
}

a {
  color: #a64ac9;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a:hover {
  font-weight: bold;
}

#indexLinks {
    margin-top: 5px;
    padding-top: 5px;
}

#indexLink {
    border: 5px solid #f5e6cc;
    border-radius: 50%;
    height: 200px;
    width: 200px;

}

#indexLink:hover {
    box-shadow: 10px 10px 5px #f5e6cc;
  

  
}

.toast {
  background-color: ivory;
}

.card {
  background-color: #f5e6cc;
}


