body {
background-color: #d8feff;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
Font-Size: 19px;
}

a {
    color: purple;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#indexLinks:hover {
    color: #ff10af;
    box-shadow: 0 0 5px #ff10af;
    
}

.toast {
    background-color: ivory;
}